*, *::after, *::before {
    padding: 0;
    margin: 0;
    box-sizing:border-box;  
}

/*kleuren door de site heen*/
:root {
    --creme: #f8f7f2;
    --logo-groen: #00a86b;
    --knop-groen: #81ebe0;
    --zwart: black;
    --wit: white;
}

  body {
    background-color: var(--wit);
}

/*lettertype*/
  a, p, h2, h3, h4, label, legend, input, li {
    font-family: 'nunito', Helvetica, sans-serif;
}

  header {
    background-color: var(--creme);
    padding: 1em;
}

  h1 {
    font-family: 'Merienda', cursive;
    text-align: center;
    color: var(--logo-groen);
}

/*footer terug/verder knop stijlen*/

li {
  text-decoration: underline;
  padding: 0.6em;
  padding-left: 1.5em;
  padding-right: 1.5em;
}

ul {
  display: flex;
  list-style: none;
}

li:last-of-type {
  background-color: var(--knop-groen);
  text-decoration: none;
}