*, *::after, *::before {
    padding: 0;
    margin: 0;
    box-sizing:border-box;  
}

/*kleuren door de site heen*/
:root {
    --creme: #f8f7f2;
    --logo-groen: #00a86b;
    --knop-groen: #81ebe0;
    --zwart: black;
    --wit: white;
}

  body {
    background-color: var(--creme);
}

  a, p, h2, h3, h4, button {
    font-family: 'nunito', Helvetica, sans-serif;
}

  header {
    background-color: var(--wit);
    padding: 1em;
}

  h1 {
    font-family: 'Merienda', cursive;
    text-align: center;
    color: var(--logo-groen);
}

