*, *::after, *::before {
  padding: 0;
  margin: 0;
  box-sizing:border-box;  
}

/*kleuren door de site heen*/
:root {
  --creme: #f8f7f2;
  --logo-groen: #00a86b;
  --knop-groen: #81ebe0;
  --knop-groen2: #a8f4da;
  --zwart: black;
  --wit: white;
}

body {
  background-color: var(--wit);
  width: 380px;
}

main {
  margin: 1em;
}

/*lettertype*/
  a, p, h2, h3, h4, label, legend, input, li, figcaption, button {
    font-family: 'nunito', Helvetica, sans-serif;
    font-size: medium;
}

::placeholder, input[type=submit], button {
  font-size: small;
}

  header {
    background-color: var(--creme);
    padding: 1em;
}

  h1 {
    font-family: 'Merienda', cursive;
    text-align: center;
    color: var(--logo-groen);
    font-size: x-large;
}

/**formulier stijlen**/
fieldset {
  border: none;
  margin-left: .5em;
}

form input {
  background-color: var(--wit);
  margin: 0.5em;
  width: 90%;
}

input[type=submit] {
  background-color: var(--knop-groen);
  cursor: pointer;  
  width: 5em;
  margin-top: .5em;
}



/*plaatjes bij bewerk-pagina stijlen*/
img, video{
  width: 85px;
  height: 85px;
  margin: .2em;
  padding: .2;
  background-color: var(--creme);
}

section {
  display: flex;
  flex-wrap: wrap;
}

/*meer kleding toevoegen knop stijlen*/
button {
  width: 100px;
  padding: 0.5em;
  margin: .5em;
  background-color: var(--knop-groen2);
  border: none;
  box-shadow: 2px 2px #e1e9df;
  cursor: pointer;  
}

/*footer terug/verder knop stijlen*/

a {
  padding: 0.6em;
  padding-left: 1.5em;
  padding-right: 1.5em;
  color: var(--zwart);
}
