<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Merienda:wght@700&family=Nunito:wght@300;400;600&display=swap" rel="stylesheet">

    <title>Profiel</title>
</head>

<body>
    <header>
        <h1>Clothing Swap</h1>
    </header>

    <main>
        <h2>Kleding bewerken</h2>

        <form action="bewerken.html">

            <fieldset>
                <label for="voornaam">Voornaam</label>
                <input type="text" id="voornaam" required >

                <label for="tussenvoegsel">Tussenvoegsel</label>
                <input type="text" id="tussenvoegsel">

                <label for="achternaam">Achternaam</label>
                <input type="text" id="achternaam" required>

                <label for="email">E-mail</label>
                <input type="email" id="email" placeholder="example@email.com" required>

                <label for="nummer">Telefoonnummer</label>
                <input type="tel" id="nummer" required>
            </fieldset>

            <input type="submit" value="Verstuur">
        </form>


        <h2>Jouw kleding</h2>
            
        <section>
            <figure>
                <img src="../images/dress.png" alt="Plaatje van een jurk">
    
                <Figcaption>Jurk</Figcaption>
            </figure>
    
            <Figure>
                <img src="../images/jacket.png" alt="plaatje van een jasje">
                <figcaption>Jas</figcaption>
            </Figure>
    
            <figure>
                <img src="../images/vest.png" alt="plaatje van een vest">
                <figcaption>T-shirt</figcaption>
            </figure>
    
            <figure>
                <img src="../images/top.png" alt="plaatje van een topje">
                <figcaption>Topje</figcaption>
            </figure>

            <div>
                <video autoplay><p>+</p></video>
            </div>

        </section>

        <button class="toevoegen"> Meer kleding toevoegen </button>

        <h2>Jouw locatie</h2>

    </main>

    <footer>
         <a href="">< terug</a>

    </footer>

    <script src="../index.js" ></script>
</body>
</html>